@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Nanum+Gothic&display=swap');
.navbar_brand, h1, h2, h3, h4, body{
	font-family: 'Nanum Gothic';
}
h5{
	font-family: 'Nanum Gothic';
	font-size: 18px;
}