@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Carrois+Gothic+SC&family=Nanum+Gothic&display=swap');
.navbar-brand, h1, h2, h3, h4{
	font-family: 'Carrois Gothic';
	margin: 0 10px;
}
h5, body{
	font-family: 'Nanum Gothic';
	font-size: 18px;
}
.container{ min-height: 50px; }
#search_line, #lectureDivide_Top{
	display: flex;
	margin: 0 10px 0 auto; 
}

#card{
	margin: 0 auto;
	width: 80%;
}

.page-item{
	margin: 0 5px;
}

#form-control{ width: auto; }

#form-search{ width: 70%; }

#form-row{ display: flex; }