@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Carrois+Gothic+SC&family=Nanum+Gothic&display=swap');
.navbar-brand, h1, h2, h3, h4{
	font-family: 'Carrois Gothic';
	margin: 0 10px;
}
h5, body{
	font-family: 'Nanum Gothic';
	font-size: 18px;
}
#search_line{
	display: flex;
	margin: 0 10px 0 auto; 
}